<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet"
          href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

    <style>
        .regenerators {
            background-color: #1abc9c !important;
        }

        .pointers {
            background-color: #27ae60 !important;

        }

        .multiplexers {
            background-color: #16a085 !important;

        }

        .payload {
            background-color: #3498db !important;

        }

        #justChanged, .justChanged{
            background-color: #e67e22 !important;
        }
    </style>

    <meta charset="UTF-8">
    <title>Matriz</title>
</head>
<body>

<h2>Matriz</h2>

<div class="pure-g">

    <div class="pure-u-5-5">

        <table class="pure-table pure-table-bordered">
            <tbody>
            {% for row in matrix %}
                <tr>
                    {% for cell in row %}
                        <td
                                {% if cell.row < 3 and cell.column < 5 %}
                                    class="regenerators"
                                {% elif cell.row == 3 and cell.column < 5 %}
                                    class="pointers"
                                {% elif cell.row > 3 and cell.column < 5 %}
                                    class="multiplexers"
                                {% else %}
                                    class="payload"
                                {% endif %}
                                {% if cell.last_modified %}
                                    id="justChanged"
                                {% endif %}
                                    data-url="/{{ cell.row }}/{{ cell.column }}/">
                            {{ cell.value }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="pure-u-2-5">
        <h4>Leyenda de tabla:</h4>
        <table class="pure-table pure-table-bordered">
            <thead>
            <tr>
                <th>Color</th>
                <th>Significado</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="regenerators">&nbsp;</td>
                <td>Regeneradores</td>
            </tr>
            <tr>
                <td class="pointers">&nbsp;</td>
                <td>Punteros</td>
            </tr>
            <tr>
                <td class="multiplexers">&nbsp;</td>
                <td>Multiplexores</td>
            </tr>
            <tr>
                <td class="payload">&nbsp;</td>
                <td>Carga Util</td>
            </tr>
            <tr>
                <td class="justChanged">&nbsp;</td>
                <td>Última celda cambiada</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="pure-u-3-5">
        <h4> Seleccione una celda para modificar su valor: </h4>

        <form class="pure-form pure-form-aligned" action="." method="POST">
            {% csrf_token %}
            <fieldset>
                <div class="pure-control-group">
                    <label for="row">Fila</label>
                    <input id="row" name="row" type="text" placeholder="fila"
                           readonly>
                </div>
                <div class="pure-control-group">
                    <label for="column">Columna</label>
                    <input id="column" name="column" type="text"
                           placeholder="columna"
                           readonly>
                </div>

                <div class="pure-control-group">
                    <label for="value">Valor decimal</label>
                    <input id="value" name="value" type="number" max="255"
                           placeholder="valor decimal">
                </div>

                <div class="pure-control-group">
                    <label for="binary">Valor 8 bits</label>
                    <input id="binary" name="binary" type="text"
                           placeholder="valor 8bits" readonly>
                </div>

                <div class="pure-control-group">
                    <label for="pastValues">Valores anteriores</label>
                    <select name="pastValues" id="pastValues" multiple
                            readonly>

                    </select>
                </div>


                <div class="pure-controls">
                    <button type="submit"
                            class="pure-button pure-button-primary">
                        Guardar
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    $("td").on('click', function () {
        var data_url = $(this).attr("data-url");
        console.log(data_url);
        if (data_url != null) {
            $.ajax({
                url: data_url,
                dataType: 'json',
                success: function everOk(data, textStatus, jqXHR) {
                    console.log(data);
                    $('#row').val(data.row);
                    $('#column').val(data.column);
                    $('#value').val(data.value);
                    $('#binary').val(data.binary_8bit);
                    $('#pastValues').empty();
                    if (data.past_values.length > 0) {
                        option = "";
                        for (var i = 0; i < data.past_values.length; i++) {
                            option += '<option value="' + data.past_values[i] + '">' + data.past_values[i] + '</option>';
                        }
                        $('#pastValues').append(option);
                    }
                },
                error: function everBad(jqXHR, textStatus, errorThrown) {
                    //Error handling code
                    console.log('Oops there was an error');
                }

            });
        }
    })
</script>
</body>
</html>